<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>CRUD</title>

	<link rel="stylesheet" type="text/css" href="css/estilos.css">

</head>

<body>

<nav>
	<ul>
		
		<li><a href="index.html">Sign In</a></li>
		<li><a href="register.html">New Account</a></li>
		<li><a href="employees.html">Employees</a></li>
		<li><a href="exit.html">Exit</a></li>

	</ul>
</nav>

<section>

	<br>
	<h1>Employees</h1>

	<table id="t1" border="1">
		
		<thead>
			
			<tr>
				<th>Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Position</th>
				<th>Salary</th>
				<th></th>
				<th></th>

			</tr>

		</thead>

		<tbody>
			
			<tr>
				<td>Douglas</td>
				<td>Loaiza</td>
				<td>douglaslz@hotmail.com</td>
				<td>Programador PHP</td>
				<td>$ 8.000</td>
				<td><button>Edit</button></td>
				<td><button>Delete</button></td>
			</tr>

		</tbody>

	</table>


</section>
	
</body>

</html>