<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>CRUD</title>

	<link rel="stylesheet" type="text/css" href="css/estilos.css">

</head>

<body>

<nav>
	<ul>
		
		<li><a href="index.html">Sign In</a></li>
		<li><a href="register.html">New Account</a></li>
		<li><a href="employees.html">Employees</a></li>
		<li><a href="exit.html">Exit</a></li>

	</ul>
</nav>

<section>

	<br>
	<h1>NEW EMPLOYEE</h1>

	<form method="post" action="">
		
		<input type="text" placeholder="Name" name="name" required>

		<input type="text" placeholder="Last Name" name="lastname" required>

		<input type="email" placeholder="Email" name="email" required>

		<input type="text" placeholder="Position" name="position" required>

		<input type="text" placeholder="Salary" name="salary" required>

		<input type="submit" value="Register">

	</form>

</section>
	
</body>

</html>